/* .iphone {
    position: absolute;
}
/*  */
.lock {
  position: relative;
  top: -240px;
  left: 65px;
  font-weight: 600;
  animation: my 1000ms infinite;
}

.unlock p {
  display: none;
}

@keyframes my {
  0% {
    color: #aeaeae;
  }

  50% {
    color: #fff;
  }

  100% {
    color: #aeaeae;
  }
}

.box {
  position: relative;
  width: 300px;
  height: 620px;
  background: #666;
  border-radius: 40px;
}

.box::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #000;
  border-radius: 38px;
}

.inner {
  position: absolute;
  inset: 6px;
  background: url(../assets/lock-screen.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 38px;
  border: 4px solid #000;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.box.unlockActive .inner {
  background: url(../assets/homescreen-iphone14.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: 0.5s;
}

.btn {
  position: absolute;
  width: 3px;
  height: 26px;
  top: 110px;
  left: -2px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: radial-gradient(#ccc, #666, #222);
  z-index: 10;
}

.btn.btn2 {
  top: 160px;
  height: 40px;
}

.btn.btn3 {
  top: 220px;
  height: 40px;
}

.rightSideBtn {
  position: absolute;
  cursor: pointer;
  width: 3px;
  height: 70px;
  top: 170px;
  right: -2px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: radial-gradient(#ccc, #666, #222);
  z-index: 10;
}

.island_popup {
  position: absolute;
  width: 90px;
  height: 25px;
  background: #000;
  top: 5px;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.island_popup:hover {
  width: 155px;
  height: 25px;
}

.island_popup.active {
  width: 230px;
  height: 45px;
  border-radius: 50px;
  padding: 0 4px;
}

.content {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  line-height: 25px;
}

.content p {
  color: #fff;
  font-size: 0.6em;
  cursor: pointer;
  visibility: hidden;
  font-weight: 500;
  opacity: 0;
  transition: 0.5s;
}

.action {
  position: relative;
  color: #fff;
  display: flex;
  gap: 8px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

img.red {
  color: #fd443b;
  transform: rotate(135deg);
  cursor: pointer;
  transition: 0.5s;
}

img.green {
  cursor: pointer;
  transition: 0.5s;
}

.island_popup:hover p,
.island_popup.active p,
.island_popup:hover .action,
.island_popup.active .action {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.25s;
}

.details {
  display: flex;
  align-items: center;
  position: relative;
}

.details .imgBx {
  position: relative;
  width: 0;
  height: 0;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.island_popup.active .details .imgBx {
  width: 30px;
  height: 30px;
  background: #fff;
  margin-right: 8px;
  transition: 0.5s;
  background-image: url(../assets/buffalo.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .lock {
    top: -200px;
    left: 45px;
    font-weight: 600;
    font-size: 14px;
  }
  .box {
    width: 240px;
    height: 520px;
    border-radius: 20px;
  }

  .box::before {
    border-radius: 19px;
  }

  .inner {
    inset: 3px;
    background: url(../assets/lock-screen.jpeg);
    background-size: cover;
    border-radius: 19px;
    border: 2px solid #000;
  }

  .box.unlockActive .inner {
    background: url(../assets/IOS_15_Homescreen.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
  }

  .btn {
    height: 13px;
    top: 50px;
  }

  .btn.btn2 {
    top: 80px;
    height: 30px;
  }

  .btn.btn3 {
    top: 120px;
    height: 30px;
  }

  .rightSideBtn {
    height: 40px;
    top: 70px;
  }

  .island_popup {
    width: 60px;
    height: 16px;
  }

  .island_popup:hover {
    width: 110px;
    height: 20px;
  }

  .island_popup.active {
    width: 180px;
    height: 35px;
  }

  .content p {
    color: #fff;
    font-size: 8px;
  }

  .action {
    gap: 2px;
  }

  .island_popup.active .details .imgBx {
    width: 20px;
    height: 20px;

    margin-right: 6px;
  }
}
